<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bitbreeds.monitorlog" level="INFO"/>

    <logger name="com.bitbreeds.webrtc" level="WARN"/>

    <logger name="com.bitbreeds.webrtc.peerconnection.LoggingConnection" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>